* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding-top: 96px;
  padding-bottom: 64px;
}

p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.max-width-wrapper {
  max-width: 784px;
  margin-left: auto;
  margin-right: auto;
  /* I have commented these padding out because I am assuming white is not also commented and adding
    padding will have background color as gray without the white background
  */
  /* padding-left: 24px;
  padding-right: 24px; */
  /* This white background will not mostly be coming here since becuase only the functionalities are reusable*/
  /* background-color: white; */
}

.intro-chunk {
  padding: 8px 24px 24px 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 72px;
  padding-bottom: 72px;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding: 8px 24px 24px 24px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  margin: 0;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1)
}