* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding-top: 96px;
  padding-bottom: 64px;
}

.max-width-wrapper {
  max-width: 784px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px 24px 24px;
  background-color: white;
}

section.max-width-wrapper {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.intro-chunk {
  /* padding: 24px; */
}

main {
  /* padding-top: 72px;
  padding-bottom: 66px; */
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 72px;
  padding-bottom: 72px;
}


strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card {
  /* background-color: white; */
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  /* border-bottom: 8px solid hsla(0, 0%, 60%, 1); */
  /* padding: 8px 24px 24px 24px; */
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  margin: 0;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1)
}
