* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {

}

main {
  /* padding-top: 72px;
  padding-bottom: 66px; */
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 72px;
  padding-bottom: 72px;
}

.max-width-wrapper {
  max-width: 784px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  background-color: white;
  padding: 24px 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  line-height: 1.5rem;
}

.card {
  /* background-color: white; */
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  margin: 0;
  padding: 16px 32px;
}